@use 'base';
@use 'layout';
/* Buttons */
.btn {
  @apply py-2 px-3 font-semibold rounded-lg shadow-md text-white;
}
.btn-danger {
  @apply bg-red-500 hover:bg-red-700;
}
.btn-info {
  @apply bg-green-400 hover:bg-green-700;
}
.btn-warning {
  @apply bg-yellow-400 hover:bg-yellow-700;
}
/* Cards Students */
.input-data {
  @apply block px-4 py-2 bg-white rounded border-gray-700 text-center;
}
textarea.input-data{
  @apply text-left;
}
.item-data {
  @apply input-data;
}
.copy {
  transition: all 2s;
  user-select: all;
  cursor: url("../icons/copy.ico"), auto;
}
.copy::selection {
  color: white;
  background: #1f2937;
}
.student-card {
  @apply flex flex-col justify-around p-4 bg-gray-700;
}

/* flip create student card */
.box-rotate {
  @apply bg-gray-800;
  width: 80%;
  height: 90%;
  transition: all 1s;
  transform-style: preserve-3d;
}
.box-rotate-face-template {
  @apply flex justify-around flex-col w-full h-full;
}
.box-rotate-front {
  transform: translateZ(0.1px);
  @apply box-rotate-face-template;
}
.box-rotate-back {
  @apply box-rotate-face-template p-4;
  transform: translateY(-100%) rotateY(-180deg);
}
.pill-button {
  @apply rounded-full text-2xl;
}
.box-rotate-flip {
  transform: rotateY(-180deg);
}
.user-face {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
}
/* Create Card */
.bnt-group :nth-child(even) {
  border-radius: 0 5px 5px 0;
}
.bnt-group :nth-child(odd) {
  border-radius: 5px 0 0 5px;
}
.create-link {
  display: flex;
}
.create-link a {
  line-height: 2;
  border-radius: 0 5px 5px 0;
  text-align: center;
  width: 30%;
}
.create-link input {
  border-radius: 5px 0 0 5px;
  width: 70%;
}

/* background */
.bg-drive {
  background-color: #4285f4;
}
.bg-meet {
  background-color: #00ac47;
}
.bg-black {
  background-color: #181818;
}
